<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.mayiwo.mayikanshu.dao.AdminDao">
    <!-- parameterType表示要传入的参数的类型 ，resultType表示要返回的数据的类型-->

    <!-- 登录操作 -->
    <select id="login" resultType="Admin">
        select * from admin where a_user=#{a_user} and a_password=#{a_password}
    </select>

    <!-- 管理员列表 -->
    <select id="getAdmins" resultType="Admin">
        select * from admin
    </select>

    <!--添加管理员-->
    <insert id="addAdmin">insert admin(id,a_name,a_user,a_password,a_position,a_phone,a_age,a_images,a_sex)values(null,#{a_name},#{a_user},#{a_password},#{a_position},#{a_phone},#{a_age},#{a_images},#{a_sex}) </insert>

    <!-- 获取管理员信息 -->
    <select resultType="Admin" id="getAdmin">select * from admin where id=#{id} </select>

    <!-- 修改信息 -->
    <update id="updateAdmin">
        update admin
        <set>
            <if test="a_name!=null">a_name=#{a_name},</if>
            <if test="a_password!=null">a_password=#{a_password},</if>
            <if test="a_phone!=null">a_phone=#{a_phone},</if>
            <if test="a_age!=null">a_age=#{a_age},</if>
            <if test="a_images!=null">a_images=#{a_images},</if>
            <if test="a_position!=null">a_position=#{a_position},</if>
        </set>
        where id=#{id}
    </update>
</mapper>