<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.mayiwo.mayikanshu.dao.UserDao">
    <!-- parameterType表示要传入的参数的类型 ，resultType表示要返回的数据的类型-->

    <!-- 查询用户表所以信息 -->
    <select id="getUsers"   resultType="User">
        select * from user ORDER BY u_create_time DESC
    </select>
    <!-- 获取用户信息 -->
    <select id="getUser" resultType="User">
        select * from user where id=#{id}
    </select>
    <!-- 修改信息 -->
    <update id="update">
        update user
        <!-- <set>标签用来取代SQL语句的set -->
        <set>
            <if test="u_name!=null">u_name=#{u_name},</if>
            <if test="u_password!=null">u_password=#{u_password},</if>
            <if test="u_phone!=null">u_phone=#{u_phone},</if>
            <if test="u_images!=null">u_images=#{u_images},</if>
            <if test="u_sex!=null">u_sex=#{u_sex},</if>
        </set>
        where id=#{id}
    </update>
    <!-- 添加用户 -->
    <insert id="addUser">
        insert user(id,u_name,u_user,u_password,u_phone,u_age,u_images,u_sex,u_introduce,u_create_time,u_currency)
        values
        (null,#{u_name},#{u_user},#{u_password},#{u_phone},#{u_age},#{u_images},#{u_sex},#{u_introduce},#{u_create_time},0)
    </insert>
    <!-- 删除用户 -->
    <delete id="deleteUser" parameterType="int">
        delete from user where id=#{id}
    </delete>
    <!-- 首页今日新增用户-->
    <select id="Yesterday" resultType="int">
        SELECT COUNT(id) FROM user WHERE TO_DAYS( NOW( ) ) - TO_DAYS(u_create_time) = 1
    </select>
</mapper>